<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="javascripts/custom.js"></script>
    <title>Eneida</title>
</head>

<body ng-app="MyApp" ng-controller="MainCntrl as vm">
    <h1>Енеїда</h1>
    <div ng-repeat="row in vm.rows">
        <input ng-model="row.text" size={{row.text.length}}>
        <br>
        <button ng-click="vm.edit(row)">Save</button>
        <button ng-click="vm.delete(row.id)">Delete</button>
    </div>
    <div>
        <form>
            <textarea ng-model="vm.text" type="text" placeholder="Add new row..." rows="5"></textarea>
            <button ng-click="vm.sendData()">Create</button>
        </form>
    </div>
</body>

</html>